:root {
    /*### Primary*/

--Green: hsl(75, 94%, 57%);

    /*### Neutral*/

--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--DarkGrey: hsl(0, 0%, 12%);
--OffBlack: hsl(0, 0%, 8%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: var(--White);
    margin-top: 100px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    background-color: var(--DarkGrey);
    border-radius: 5px;
    padding: 30px;
}
.container .profile {
    padding-top: 20px;
}
.profile img {
    border-radius: 50%;
    height: 4.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.data-profile h3 {
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}
.data-profile p:nth-of-type(1) {
    color: var(--Green);
    margin-top: 5px;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
}
.data-profile p:nth-of-type(2) {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
.social_media {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
}
button {
    font-size: 14px;
    font-weight: 600;
    color: var(--White);
    background-color: var(--Grey);
    cursor: pointer;
    border-radius: 5px;
    padding: 15px;
    border: none; 
    outline: none;
    font-style:inherit;
}
button:hover {
    background-color: var(--Green);
    color: var(--OffBlack);
}